.custom-rate {
  border: 1.5px solid black;
  width: 100%;
  display: flex;
  li {
    padding: 5px;
    flex: 1;
    border-right: 1.5px solid black;
    text-align: center;
    margin: 0px !important;
  }
  li:last-child {
    border-right: none;
  }
  .ant-rate-star-full {
    background-color: #b7b7b7;
  }
}

.rate-header {
  font-weight: bold;
  text-align: center;
}

.rate-footer {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.ack {
  margin: 20px auto;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .smiley-icon {
    font-size: 1.5em;
    color: #e7ee38;
    padding: 0.5em;
    background: black;
    border-radius: 1em;
  }
}
